@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>The Ivan Franko National University of Lviv</h1>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Welcome to LNU</h2>
        <p>
            LNU is a application for our OOA & Software design course.
        </p>
    </div>
</div>